.sticky-arrow-up {
  box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: min-content;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1vh;
  opacity: 0.7;
  cursor: pointer;
  z-index: 3;
}

.sticky-arrow-up a {
  color: white;
}

.sticky-arrow-up .fa-arrow-up {
  padding: 0.5vh 1vh 1vh;
}

.nav-menu-holder {
  padding-right: 3vw;
  background-color: rgba(134, 129, 129, 0.2);
  top: 0;
  bottom: 0;
  transition: 1.5s;
  margin-left: -290px;
  vertical-align: baseline;
  position: fixed;
  z-index: 2;
}

.nav-menu-open {
  margin-left: -10px;
}

nav ul {
  list-style: none;
  text-align: right;
  font-size: calc(10px + 1vw);
  font-weight: 800;
  line-height: 2.52;
  background-color: #9b9b75;
  padding: 5vh 1vw;
  top: 10%;
  bottom: 10%;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1.5vh;
}

nav a:hover {
  opacity: .5;
}

.nav-menu-button {
  border: none;
  outline: none;
}

.nav-menu-button:hover {
  cursor: pointer;
}

.photogal-sub {
  background-color: rgba(82, 80, 75, 0.8);
  padding: 0 0 1vw;
}

.photogal-sub div {
  margin: 1vh 0;
}

.photogal-header {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.photogal-menu-k {
  max-width: 20%;
  flex: 1;
  cursor: pointer;
}

.photogal-menu-k img {
  width: 100%;
}

@media (min-width: 800px) {
  .photogal-menu-k {
    max-width: 12%;
  }
}

.photogal-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: calc(12px + 2.1vw);
}

.photogal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photogal-container div {
  margin: 1vw 3vw;
}

@media (min-width: 900px) {
  .photogal-container {
    flex-direction: row;
  }
  .photogal-photos {
    order: 2;
  }
}

.photogal-about {
  background-color: rgba(179, 123, 50, 0.8);
  padding: 1em;
  margin: 15vw;
  flex: 2;
}

.photogal-photos {
  flex: 4;
  padding: 1vh 0;
  background-color: rgba(82, 80, 75, 0.8);
}

.photogal-photo {
  width: 20vw;
  margin: 1%;
}

/* photogallery main page */
#photogallery {
  background-image: url(../img/kubraktylem.jpg);
}

#photogallery a {
  text-decoration: none;
  color: white;
  font-size: calc(20px + 2.8vw);
  font-weight: 600;
  font-stretch: extra-expanded;
  margin-bottom: calc(12px + 0.2vw);
  margin-left: calc(10px + 0.15vw);
  margin-right: calc(10px + 0.15vw);
  display: inline-block;
  transition-property: transform;
  transition-duration: 800ms;
}

#photogallery a:hover {
  transform: rotateX(360deg);
}

.gal-grupa {
  font-size: calc(10px + 2.2vw);
  font-weight: calc(100 * 0.2vw);
  padding: 0;
  margin-bottom: -1.4vw;
}

#about {
  background-image: url(../img/grupowe.jpg);
}

.about-content {
  display: flex;
  margin: auto 3vw;
}

.about-content > * {
  background-color: rgba(155, 155, 117, 0.9);
  padding: 1em;
  flex-basis: 100%;
}

.about-content > * + * {
  margin-left: 1em;
}

.krakowiak-hand-written {
  font-family: cortado, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
}

.read-more-btn {
  display: none;
}

.about-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(82, 80, 75, 0.9);
  font-size: 0.6rem;
  padding: 1.5rem 0.5rem;
  display: none;
}

.read-less-btn {
  position: absolute;
  font-size: 1.2rem;
  top: 0.5em;
  right: 0.7em;
  cursor: pointer;
  transition: 1000ms;
}

@media (max-width: 750px) {
  .about-content {
    flex-wrap: wrap;
  }
  .about-content > * + * {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .about-second {
    display: none;
  }
  .read-more-btn {
    display: block;
    text-align: right;
    cursor: pointer;
    padding: 0 1em 1em 0;
  }
  .about-content {
    display: grid;
    place-items: center;
  }
  .about-modal-open {
    display: block;
    z-index: 4;
  }
}

#contact {
  background-image: url(../img/dwieparywpodskoku.jpg);
}

.social-media {
  display: flex;
  margin: 0 auto 3vw;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--bead-size);
  height: var(--bead-size);
  background-color: #9b9b75;
  border-radius: 50%;
  margin: 0 1.3vmin 0;
  text-align: center;
  font-size: calc(8px + 1.2vw);
  cursor: pointer;
  transition: 800ms;
}

.social-media-container a {
  color: white;
}

.social-media-container:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 750px) {
  .contact-first {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .contact-second {
    padding-top: 0;
    margin-top: 0;
  }
}

#home {
  background-image: url(../img/main-yellow.jpg);
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3vh 2vh;
}

.main-lang-choice {
  font-size: calc(10px + 1vw);
  font-weight: 600;
  transition: 2s;
}

.pol {
  opacity: 0.2;
  cursor: default;
}

.deu {
  opacity: 0.8;
  cursor: pointer;
}

.self-made-burger {
  width: 75px;
  cursor: pointer;
  transition: 2s;
}

@media screen and (max-width: 500px) {
  .self-made-burger {
    width: 45px;
  }
}

.container-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 150px auto;
}

.main-page-child {
  font-size: calc(10px + 1.6vw);
  font-weight: 600;
  flex: 1;
}

.main-page-child.title {
  display: flex;
  font-size: calc(25px + 9vw);
  font-stretch: expanded;
  font-weight: calc(600 * 1.5vw);
  margin-bottom: -2.2vw;
}

#home .section-bg {
  position: relative;
  text-align: center;
}

.team-member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1vh;
  padding: 15px;
}

.team-member p {
  text-align: left;
  margin: 0 0 0 1em;
}

.team-member img {
  margin: 0;
  width: 100%;
}

.member__img {
  flex: 1;
}

.member__story {
  flex: 3;
}

#history {
  height: auto;
}

.history-section {
  padding: 1.5vh;
  margin-bottom: 7vh;
}

.history--content {
  display: flex;
  flex-direction: column;
  margin: 5vh 0;
  padding: 3vh;
}

.history--quote {
  display: none;
}

.history--card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 60%;
  max-width: 550px;
  height: 420px;
  margin-right: 0 auto;
  padding: 0 1em;
  box-shadow: 5px 5px 10px 5px #3b3a3a;
}

.history--card__date {
  font-size: 5vmax;
  margin: 0.4em 0 0.25em;
}

.history--card__date::after {
  content: '';
  display: block;
  background-color: white;
  font-size: inherit;
  width: 100%;
  height: 0.15em;
}

.history--card p {
  font-size: calc(10px + 0.6vw);
  line-height: 1.5;
}

.history-beads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2vw 2vw;
}

p.history-details {
  display: none;
}

:root {
  --bead-size: 5vmax;
}

.hist-item {
  width: var(--bead-size);
  height: var(--bead-size);
  margin: 0 calc(var(--bead-size) * 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--bead-size) * 0.3);
  cursor: pointer;
  transition: 1000ms;
  background-color: #9b9b75;
}

.hist-item:hover {
  transform: rotate(45deg);
}

.hist-item {
  margin-bottom: calc(var(--bead-size) * 0.2);
}

@media (min-width: 700px) {
  .history--content {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .history--content > * + * {
    margin-right: 10vw;
  }
  .history--card, .history--quote {
    flex-basis: 100%;
  }
  .history--card {
    height: 400px;
  }
  .history--quote {
    flex-basis: 40%;
    max-width: 500px;
    margin: auto 5vw;
    display: block;
  }
  .history--quote p {
    color: rgba(255, 255, 255, 0.9);
    font-size: calc(15px + 0.8vw);
    line-height: 1.5em;
    padding: 0 calc(2em + 0.9vw);
  }
  .history--quote span {
    padding-left: 1em;
  }
}

body {
  margin: 0;
}

.gal-temp-text {
  padding: 2vh;
  text-align: right;
  font-size: calc(15px + 3vh);
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(82, 80, 75, 0.8);
}

/* Modal Content */
.modal-content {
  background-color: green;
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 25px;
  font-weight: bold;
  z-index: 100;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  background-color: red;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#photogal-krakowiak {
  background-image: url(../img/peacock-feather.svg);
  background-position: top;
  background-size: 80%;
  background-repeat: no-repeat;
}

#photogal-goralskie {
  background-image: url(../galeria/dances-special-features/ciupaga.png);
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  opacity: 1;
}

#photogal-rzeszowskie {
  background-image: url(../galeria/dances-special-features/rzeszowskie-haft.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#photogal-lubelskie {
  background-image: url(../galeria/dances-special-features/Lub01.jpg);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.audio-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 32vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(82, 80, 75, 0.8);
}

.audio-modal-btn {
  width: 8vw;
  margin-top: 18px;
  margin: 1.8vh 2.5vw;
  opacity: 1;
  cursor: pointer;
}

.modal-audio-wrapper {
  display: inline-block;
  flex-direction: row;
  padding: 1vw;
  text-align: center;
  margin: auto;
  opacity: 1;
}

.main-audio-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 1vw;
  margin-right: 2vw;
  opacity: 1;
}

.audio-main-on {
  border-right: 3px solid white;
  width: 45px;
  padding-right: 12px;
  cursor: pointer;
  transition: 1s;
}

.audio-main-off {
  width: 45px;
  padding-left: 10px;
  cursor: pointer;
  transition: 1s;
}

@media screen and (max-width: 800px) {
  .audio-main-on {
    border-right: 2px solid white;
    width: 30px;
    padding-right: 5px;
  }
  .audio-main-off {
    width: 30px;
    padding-left: 5px;
  }
  .main-audio-wrapper {
    margin: 0.2vh 2vw;
    padding: 1vw 2vw;
  }
}

.img-partners {
  display: inline-block;
  width: 15vmax;
  opacity: .79;
  margin: 0.5vw;
}

.midsec--partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  position: relative;
}

.section-bg {
  max-width: 100vw;
  height: 756px;
  background-position: center;
  background-size: cover;
  margin: 0px auto 8vmax;
  display: block;
}

@media (min-width: 1200px) {
  .section-bg:not(#home) {
    padding-left: 10vw;
  }
}

.section-wrapper {
  padding: 1.5vw;
  display: flex;
  height: 756px;
}

.section__nav-k {
  position: absolute;
  top: 2vw;
  left: 2vw;
  max-width: 2vw;
}

.section-main {
  display: flex;
  flex-direction: column;
}

.section-main__title {
  margin-bottom: 1vh;
  text-align: right;
}

.section-main__content--gallery {
  margin-top: auto;
  margin-bottom: auto;
}

.section-main__content {
  padding: 0.5vh 1vh;
  margin: 1vh 1em;
}

.section-main__content p {
  background: rgba(155, 155, 117, 0.7);
  margin: 0;
  padding: 1vw 1.5vw 0;
}

.section-main__content p:first-child {
  padding-top: 2.0em;
}

.section-main__content p:last-child {
  padding-bottom: 2.0em;
}

@font-face {
  font-family: 'Museo Slab';
  src: url(../fonts/Museo_Slab_500.otf);
}

body {
  text-align: center;
  color: white;
  font-family: 'Museo Slab';
  font-size: clamp(10px, calc(10px + .5vw), 20px);
  scroll-behavior: smooth;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  line-height: .8;
}

.row {
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  background-color: #52504b;
  margin: 0 auto;
}

.midsec {
  margin: 0 auto 10vmax;
}

.midsec__title {
  display: flex;
  justify-content: flex-end;
  font-size: calc(12px + 1.5vw);
  padding-right: 5vw;
  margin-bottom: 3vmax;
}

.midsec__title h3 {
  max-width: 40vw;
  text-align: right;
}

.midsec__main {
  max-width: 1600px;
  margin: 3vh auto 12vh;
}

@media (min-width: 430px) {
  .midsec__main {
    display: flex;
    padding: 4vh 3vw;
  }
  .midsec__col {
    flex: 1;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.main {
  margin-top: 2vh;
}

h2 {
  font-size: calc(30px + 2.2vw);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: -0.8em;
}

.img-responsive {
  width: calc(25px + 9vw);
  height: auto;
}

.quotation-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto 10vmax;
}

blockquote {
  text-align: left;
  font-size: clamp(20px, calc(20px + .5vw), 40px);
  text-indent: 2vw;
  line-height: 1.5;
}

.quotation-author {
  text-align: right;
}

footer {
  margin-bottom: 1em;
}
/*# sourceMappingURL=style.css.map */