#contact {
    background-image: url(../img/dwieparywpodskoku.jpg);
    
    .col {
      text-align: center;
    }

    p {
      margin-top: 1em;
    }
    
    address {
      margin: 1em auto 1em;
    }

  }