#contact {
    background-image: url(../img/dwieparywpodskoku.jpg);
    
    .col {
      text-align: center;
    }

    p {
      margin-top: 20px;
    }
    
    address {
      margin: 20px auto 20px;
    }

  }