body {
    color: #fff;
    font-family: 'Museo Slab';
    background-color: $basegrey-background-color;
    margin-top: 0;
  }

  h2 {
      font-size: $base-font-size * 3;
    text-align: right;
      margin: 1rem;
  }