#main {
    background-image: url(../img/main-yellow.jpg);
    height: 768px;
    width: 1366px;
    margin: 0px auto 100px;
    position: relative;
  }

h1 {
    font-size: 200px;
    font-weight: 700;
    font-stretch: expanded;
    text-align: center;
  }

.main-header-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
  }
  
  .main-header-holder h1 {
    margin: 0;
  }

  .fa {
    display: block;
    position: absolute;
    left: 40px;
    top: 10px;
    font-size: 24px;
  }
  
  .choose-language {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
  }