
  .fa {
    display: block;
    position: absolute;
    left: 40px;
    top: 10px;
    font-size: $base-font-size * 2;
  }

  .language {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: $base-font-size * 2;
  }

  #main h1 {
    top: 100px;
    text-align: left;
    margin-left: 12%;
  }

  #main h1::after {
    content: 'Zespół Pieśni i Tańca';
    font-size: $base-font-size*3;
    display: block;
    margin-top: -20px;
  }
