
 #photogallery {
  background-image: url(../img/kubraktylem.jpg);

    .section-content {
      display: inline-block;
      text-align: center;
      padding-top: 10%;
    }
  }

  a {
    display: inline-block;
    padding: 0.2em 1em;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
  }

.galfontS {
    font-size: 2em;
  }
  
  .galfontM {
    font-size: 2.5em;
  }
  
  .galfontL {
    font-size: 3em;
  }
  
  .galfontXL {
    font-size: 4em;
  }