
 #photogallery {
  background-image: url(../img/kubraktylem.jpg);

    .container {
      display: inline-block;
      text-align: center;
    }
  }

  a {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
  }



@mixin galfont { 
  font-weight: 900;
  text-decoration: none;
}

.galfontS {
    font-size: 36px;
    @include galfont;
  }
  
  .galfontM {
    font-size: 48px;
    @include galfont;
  }
  
  .galfontL {
    font-size: 60px;
    @include galfont;
  }
  
  .galfontXL {
    font-size: 72px;
    @include galfont;
  }