.about-container {
  position: relative;
  max-width: 100vw;
  height: 756px;
}

.about-about {
  position: absolute;
  top: 10vh;
  right: 5vw;
  left: 15vw;
    columns: 2;
    column-width: 250px;
    background-color: rgba($base-beige,0.8);
    margin: 0 2vw;
}

.main-about {
    margin: 0;
    
}

.about-partners {
  position: absolute;
  bottom: 0;
  background-color: white;
  opacity: .8;
  columns: 2;
  
  
  img {
    opacity: .9;
    
  }
  }

#about {
    background-image: url(../img/grupowe.jpg);
  }
   #about-read-more {
     opacity: 0.8;
     font-weight: 700;
     color:  rgb(201,191,143);
     padding: 5px;
   }
  
   #about-read-more:hover {
     opacity: 0.5;
     cursor: pointer;
   }
  
  .open {
    display: inline;
  }
  
  #about-tbc {
    display: none;
  }
  
  .about-partners img {
    width: calc(5% + 2.7vw);
    vertical-align: middle;
    padding: 1vw;
  }