.audio-modal {
  display: block;
  position: fixed;
  z-index: 1000;
  padding-top: 32vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba($base-grey,0.8);
}

.audio-modal-btn {
  width: 8vw;
  margin-top: 18px;
  margin: 1.8vh 2.5vw;
  opacity: 1;
  cursor: pointer;
}

.modal-audio-wrapper {
  display: inline-block;
  flex-direction: row;
  padding: 1vw;
  text-align: center;
  margin: auto;
  opacity: 1;
}
  
.main-audio-wrapper {
  display: flex;
  flex-direction: row;
  padding: .6vw 1vw;
  margin-right: 2vw;
  opacity: 1;
}

.audio-main-on {
  border-right: 3px solid white;
  width: 45px;
  padding-right: 12px;
  cursor: pointer;
}

.audio-main-off {
  width: 45px;
  padding-left: 10px;
  cursor: pointer;
}

.audio-active {
  opacity: 1;
  cursor: pointer;
}

.audio-inactive {
  opacity: 0.6;
  cursor: default;
}




