#contact {
    background-image: url(../img/dwieparywpodskoku.jpg);
  }

.social-media {
  display: flex;
  margin: 0 auto 3vw;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--bead-size);
  height: var(--bead-size);
  background-color: $base-beige;
  border-radius: 50%;
  margin: 0 1.3vmin 0;
  text-align: center;
  font-size: calc(8px + 1.2vw);
  cursor: pointer;
  transition: 800ms;

  a {
    color: white;
  }
}

.social-media-container:hover {
  transform: scale(1.1);
  background-color: rgba(black, 0.2);
}

  