#contact {
    background-image: url(../img/dwieparywpodskoku.jpg);
  }

address {
    background-color: rgba($base-beige,0.8);
}

.social-media {
  background-color: rgba($base-beige,0.8);
}

.social-media a {
  font-size: calc(8px + 1vw);
  color: white;
  display: inline-block;
  margin-right: 1.2vw;
  margin-bottom: 2vh;;
  transition: 3s;
 }
  
.social-media a :hover {
  opacity: .6;
  transform: scale(1.1);
}



  