#history {
    background-image: url(../img/nav-menu.jpg);
    // position: relative;
  }

  .history-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: auto;
  }

  .date-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($base-beige, 0.8);
    width: 80%;
    padding: 3vw;
  }

@media (min-width: 800px) {
  .date-description {
    flex-direction: row;
  }
}

  .history-content__date {
    font-size: 10vw;
  }

  .history-content__img {
    width: 80%;
  }

.history-beads {
    margin: 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 2vh;
  }

p.history-details {
    display: none;
  }

:root {
  --bead-size: 3.5vmax;
}
  
.hist-item {
  width: var(--bead-size);
  height: var(--bead-size);
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--bead-size) * 0.3);
  cursor: pointer;
  transition: 1000ms;
  }


.hist-item:hover {
  transform: rotate(45deg);
}
  
  .string {
      height: calc(var(--bead-size) * 0.5);
      width: calc(var(--bead-size) * 0.1);
      margin: 0 calc(var(--bead-size) * 0.05);
      border-top: 1px solid red;
      
  }
  
  .hist-item, .string {
      margin-bottom: calc(var(--bead-size) * 0.2);
  }
  
  .string + .string {
      margin-left: calc(var(--bead-size) * -0.05);
  }