#home {
  background-image: url(../img/main-yellow.jpg);
}
 
  #home span {
    font-size: calc(12px + 1vw);
    font-weight: 600;
    margin-top: 15px;
  }

  .self-made-burger {
    width: 85px;
    padding-left: 10px;
    cursor: pointer;
  }
  
  .container-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .main-page {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 150px auto;
  }
  
  .main-page-child {
    font-size: calc(10px + 1.6vw);
    font-weight: 600;
    flex: 1;
  }
  
  .main-page-child.title {
    display: flex;
    font-size: calc(25px + 9vw);
    font-stretch: expanded;
    font-weight: calc(600 * 1.5vw);
    margin-bottom: -2.2vw;
  }
  
  #home .section-bg {
    position: relative;
    text-align: center;
  }