#home {
  background-image: url(../img/main-yellow.jpg);
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3vh 2vh;
}
 
.main-lang-choice {
    font-size: calc(10px + 1vw);
    font-weight: 600;
    transition: 2s;
  }

.pol {
  opacity: 0.2;
  cursor: default
}

.deu {
  opacity: 0.8;
  cursor: pointer
}

  .self-made-burger {
    width: 75px;
    cursor: pointer;
    transition: 2s;
  }

  @media screen and (max-width: 350px) {
    .self-made-burger {
      width: 45px;
    }
  }
  
  .container-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .main-page {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 150px auto;
  }
  
  .main-page-child {
    font-size: calc(10px + 1.6vw);
    font-weight: 600;
    flex: 1;
  }
  
  .main-page-child.title {
    display: flex;
    font-size: calc(25px + 9vw);
    font-stretch: expanded;
    font-weight: calc(600 * 1.5vw);
    margin-bottom: -2.2vw;
  }
  
  #home .section-bg {
    position: relative;
    text-align: center;
  }