.subsection {
    display: flex;
    flex-direction: row;
    padding: 1vh 0.8vw;
    height: 756px;
}

.middlesection {
    margin: 10vh 1vw 7vh 1vw;
    display: flex;
    flex-direction: row;
}
    
.middlesection-col-wrapper {
    display: flex;
    flex: 4;
    flex-direction: row;
}

.middlesection-col {
    display: flex;
    flex: 1;
    flex-direction: column;
}
    
img {
    display: inline-block;
    width: 15vw;
    opacity: .79;
    margin: 1vh 0.3vw;
}

.middlesection-title {
    flex: 2;
    padding: 0.5vh;
}

h3 {
    text-align: right;
    font-size: calc(15px + 2vw);
    margin: 0 1vw;
}

p {
    text-align: left;
    margin: 0.5vh;
}