
.middlesection-col-wrapper-partners {
    display: flex;
    flex: 4;
    flex-direction: row;
    padding: 0 9vw;

    img {
        display: inline-block;
        width: 10vw;
        opacity: .79;
        margin: 1vh 0.3vw;
    }
}

.middlesection-col {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
    


.middlesection__title {
    background: indigo;
    padding: .1em .5em;
    text-align: right;
    font-size: calc(12px + 1.5vw);
}
