#photogallery {
    a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-stretch: extra-expanded;
        margin: 5px 15px;
        display: inline-block;
    }

    .main-child {
        background-color: transparent;
    }


}

.galfontS {
    font-size: 30px;
}
.galfontM {
    font-size: 50px;
    color: green;
}
.galfontL {
    font-size: 70px;
}
.galfontXL {
    font-size: 90px;
}