#photogal-krakowiak {
    background-image: url(../img/peacock-feather.svg);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.photogal-header {
    text-align: left;
    padding: 2vh;
}

.photogal-menu-k {
    width: 10vw;
    margin: 1vw;
}

.photogal-title {
    text-align: left;
    margin: 2vh;
    float: right;
}

.photogal-container {
    display: flex;
}

.photogal-about {
    flex: 1;
    padding: 1vw 2vw;
}

.photogal-photos {
    flex: 2;
    margin: 1%;
    padding: 1vh 0;
    background-color: rgba($base-grey,.8);
}

.photogal-photo {
    width: 15vw;
    margin: 1%;
}