//photogal-subgalleries

.photogal-sub {
  background-color: rgba($base-grey,.8);
  height: 100vh;

  div {
    margin: 1vh 0;
  }
}

.photogal-header {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.photogal-menu-k {
  max-width: 20%;
  flex: 1;

  img {
    width: 100%;
  }
}

.photogal-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: calc(12px + 2.1vw);
}

.photogal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      margin: 1vw 3vw;
    }
}

@media (min-width: 600px) {
  .photogal-container {
    flex-direction: row;
  }
  .photogal-photos {
    order: 2;
  }
}

.photogal-about {
    background-color: rgba($color: #b37b32, $alpha: .8);
    padding: 1em;
    margin: 15vw;
    flex: 2;
}

.photogal-photos {
    flex: 4;
    padding: 1vh 0;
    background-color: rgba($base-grey,.8);
}

.photogal-photo {
    width: 20vw;
    margin: 1%;
}

// -- // -- //

/* photogallery main page */

#photogallery {
    background-image: url(../img/kubraktylem.jpg);

 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-stretch: extra-expanded;
    margin-bottom: calc(10px + 0.2vw); 
    margin-left: calc(10px + 0.1vw);
    margin-right: calc(10px + 0.1vw);
    display: inline-block;
    transition-property: color, transform;
    transition-duration: .5s, 1.0s;
    transition-delay: 0, 1s;
  }
  
  a:hover {
    transform: rotateX(360deg);
  }
}
   
  .galfontS {
    font-size: calc(10px + 1.8vw);
  }
  
  .galfontM {
    font-size: calc(15px + 2.4vw);
  }
  
  .galfontL {
    font-size: calc(20px + 3.0vw);
  }
  
  .galfontXL {
    font-size: calc(25px + 4.0vw);
  }
  
  .gal-grupa {
    font-size: calc(10px + 2.2vw);
    font-weight: calc(100 * 0.2vw);
    padding: 0;
    margin-bottom: -1.4vw;
  }