#photogal-krakowiak {
    background-image: url(../img/peacock-feather.svg);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

#photogal-goralskie {
  background-image: url(../galeria/dances-special-features/ciupaga.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

#photogal-rzeszowskie {
  background-image: url(../galeria/dances-special-features/rzeszowskie-haft.png);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}