#photogallery {

    div.main-child {
        margin: -50px;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-stretch: extra-expanded;
        margin: 15px 30px;
        display: inline-block;
        transition-property: color, transform;
        transition-duration: .5s, 1.0s;
        transition-delay: 0, 1s;
    }

    a:hover {
        transform: rotateX(360deg) ;
    }

    span {
        margin-left: 0;
        margin-right: 0;
    }

    .main-child {
        background-color: transparent;
    }

}

.galfontS {
    font-size: 30px;
    transition-property: color, transform;
    transition-duration: .5s, .5s;
    transition-delay: 0, 1s;

}
.galfontS:hover {
    color: gray;
    transform: rotateX(360deg) ;
   // transform: translateY(-25px);
}
.galfontM {
    font-size: 50px;
}
.galfontL {
    font-size: 65px;
}
.galfontXL {
    font-size: 80px;
}
.gal-grupa {
    font-size: 25px;
    font-weight: 700;
    padding: 0;
    margin-bottom: -15px;
}