.section-wrapper {
  padding: 1.5vw;
  display: flex;
  height: 756px;
}

.section-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-main__title {
  margin-bottom: 1vh;
  text-align: right;
}

.section-main__content--gallery {
  // a:first-child {margin-top: 2vh;}
  margin-top: auto;
  margin-bottom: auto;
}

.section-main__content {
  padding: 0.5vh 1vh;
  margin: 1vh 1em;

  p {
    background: rgba($base-beige,0.7);
    margin: 0;
    padding: 1vw 1.5vw 0;
  }

  p:first-child {
    padding-top:2.0em;
  }
  
  p:last-child {
    padding-bottom: 2.0em;
  }
}

@media (min-width: 800px) {
  .section-main {
    columns: 2;
    column-width: 38%;
    column-gap: 3%;
    margin: 3vw 1em;

    p {
      padding-bottom: 0.6em;
    }
  }

  .section-main__content--gallery {
    margin: 4vw 1em;
  }
}