.team-main {
  position: absolute;
  margin: 7vw 5vw;
  display: flex;
  flex-direction: row;

  hr { 
    margin: 20px 0;
    border: dotted 3px white;
  }
}

.team-col {
  display: flex;
  flex-direction: column;
  margin: 0 15px;

  p {
    background-color: rgba(134, 129, 129, 0.5);
    width: 70%;
    text-align: left;
    padding: 1vw;
  }
}

.team-member {
  display: flex;
  flex-direction: row;
}

.team-memb-img {
  background-color: #c9bf8f;
  padding: 8px;
  float: left;
  transform: scale(0.8);
}

.team-memb-story {
  text-align: right;
}
 