@import 'imports';

@font-face {
  font-family: 'Museo Slab';
  src: url(../fonts/Museo_Slab_500.otf);
}

body {
  text-align: center;
  color: white;
  font-family: 'Museo Slab';
  font-size: clamp(10px, calc(10px + .5vw), 20px);
  scroll-behavior: smooth;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  line-height: .8;
}

.row {
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  background-color: $base-grey;
  margin: 0 auto;
}

//middlesection //

.midsec {
  margin: 0 auto 10vmax;
}

.midsec__title {
  display: flex;
  justify-content: flex-end;
  font-size: calc(12px + 1.5vw);
  padding-right: 5vw;
  margin-bottom: 3vmax;

  h3 {
    max-width: 40vw;
    text-align: right;
  }
}

.midsec__main {
  max-width: 1600px;
  margin: 3vh auto 12vh;
}

@media (min-width: 430px) {
  .midsec__main {
    display: flex;
    padding: 4vh 3vw;
  }

  .midsec__col {
    flex: 1;
  }

}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.main {
  margin-top: 2vh;
}

h2 {
  font-size: calc(30px + 2.2vw);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: -0.8em;
}

.img-responsive {
  width: calc(25px + 9vw);
  height: auto;
}

.quotation-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto 10vmax;
}

blockquote {
  text-align: left;
  font-size: clamp(20px, calc(20px + .5vw), 40px);
  text-indent: 2vw;
  line-height: 1.5;
}

.quotation-author {
  text-align: right;
}

// footer //

footer {
  margin-bottom: 1em;
}



